/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---- END OF CSS RESET ---- */


@font-face {
	font-family: 'Museo Sans';
	src:url('fonts/MuseoSans-100.otf') format("opentype");
	font-weight: 100;
}

@font-face {
	font-family: 'Museo Sans';
	src:url('fonts/MuseoSans-300.otf') format("opentype");
	font-weight: 300;
}

body {
	font-family: 'Museo Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	min-width: 1200px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #365d98;
	box-shadow: 0px 2px 10px #333;
}

.logo {
	padding: 10px;
	margin-left: 3%;
	border-left: 1px solid #315286;
	border-right: 1px solid #315286;
}

.links {
	position: absolute;
	top: 16px;
	right: 0;
	font-size: 14pt;
	margin-right: 3%;
	color: #e0e5ed;
	font-weight: 100;
}

.links li {
	list-style-type: none;
	display: inline;
	border-left: 1px solid #315286;
	padding: 14px;
}

.links #remBudget {
	color: #fff;
	padding: 14px 35px 14px 35px;
}

.links #logOut {
	border-right: 1px solid #315286;
	min-width: 60px;
}

.leftNav {
	background-image: url('../img/bg-fuzz.png');
	background-color: #fff;
	position: absolute;
	width: 33.3%;
	top: 50px;
	bottom: 0;
	z-index: -3;
	height: auto !important;
	min-height: 100%;
	height: 100%;
}

.leftNav #leftTitle {
	background-image: url('../img/bg-fuzz.png');
	background-color: #c6d1d6;
	position: absolute;
	font-size: 28pt;
	color: #383b40;
	padding: 14px 0 12px 20px;
	width: 100%;
	border-bottom: 2px solid #171717;
	font-weight: 300;
}

.leftNav ul {
	width: 100%;
	position: absolute;
	top: 64px;
	font-weight: 100;
	cursor: pointer;
	overflow: scroll;
}

.leftNav li {
	border-bottom: 2px solid #171717;
	padding: 14px 14px 14px 20px;
	font-size: 28pt;
	color: #e0e5ed;
}

.leftNav .active {
	background-color: #4a535f;
	background-image: url('../img/triangle-selector.png');
	background-repeat: no-repeat;
	background-position: right;
		padding: 14px 14px 14px 20px;
}

.leftNav li #assetTitle {
	text-shadow: #333 1px 1px;
}

.leftNav li #valueBar {
	width: 0;
	height: 7px;
	background-color: #933d3d;
	border-radius: 10px;
	position: relative;
	top: 21px;
}

.leftNav li #assignText {
	color: #365d98;
	font-size: 13pt;
	font-weight: 300;
	position: relative;
	top: 3px;
	margin-top: 7px;
}

.rightBg {
	background-image: url('../img/bg-fuzz.png');
	background-color: #646769;
	position: absolute;
	width: 66.7%;
	top: 50px;
	bottom: 0;
	right: 0;
	z-index: -2;
}

.assetOverlay {
	background-color: #171717;
	background-image: url('../img/bg-fuzz.png');
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	width: 66.7%;
	box-shadow: 0 0 20px #171717;
	z-index: -1;
}

#triangleSelector {
	position: absolute;
	left: 8.6em;
	top: 0.5em;
}

.topBox {
	position: absolute;
	width: 90%;
	margin: 4em 10% 4em 10%;
}

#image {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	/*margin: 4em 0 0 4em;*/
}

.words {
	position: relative;
	display: inline-block;
	width: 65%;
	margin: 1em 0 0 2em;
	vertical-align: top;
}

.bigTitle {
	font-weight: 100;
	font-size: 48pt;
	color: #e0e5ed;
}

.description {
	font-size: 13pt;
	font-weight: 100;
	color: #9fa3ab;
	padding: 1em 0 0 0;
}

.sliderHorizon {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	display: block;
}

/*the slider background*/
.slider {
	width: 540px;
	height: 16px;
	background: url(../img/slider-bg.png);
	margin-left: -265px;
	position: absolute;
	top: -8px;
	left: 50%;
}
 
/*Style for the slider button*/
.ui-slider-handle {
	width: 80px;
	height: 80px;
	position: absolute;
	top: -60px;
	margin-left: -35px;
	z-index: 200;
	background: url(../img/slider-tooltip-heart.png);
}
 
/*Result div where the slider value is displayed*/
#slider-result {
	font-size: 32pt;
	color: #993d3d;
	text-align: center;
	text-shadow: #000 2px 3px;
	font-weight: 100;
	position: absolute;
	bottom: -1.5em;
	left: 50%;
	z-index: 300;
}

#slider-remaining {
	font-size: 14pt;
	color: #993d3d;
	position: absolute;
	bottom: -3.2em;
	right: 20%;
}
 
/*This is the fill bar colour*/
.ui-widget-header {
	background: url(../img/fill.png) no-repeat left;
	height: 14px;
	left: 9px;
	top: 1px;
	position: absolute;
}

.sliderText {
	color: #e0e5ed;
	font-size: 14pt;
	position: absolute;
	left: 0;
	top: 50%;
	text-shadow: #000 2px 2px;
}
 
a {
	outline:none;
	-moz-outline-style:none;
}

#slicon {
	margin: -0.4em 0 0 15em;
}

.lowerBtn {
	border-radius: 10px;
	border: 3px solid #0e0e1b;
	padding: 1em 0 1em 0;
	text-align: center;
	width: 12em;
	position: absolute;
	bottom: 10em;
	color: #d7dfea;
	background-color: #1d212b;
	font-weight: 100;
	cursor: pointer;
}

.lowerBtn:hover {
	background-color: #1f242d;
}

.lowerBtn:active {
	background: transparent;
}

.noClick {
	border-radius: 10px;
	border: 3px solid #0e0e1b;
	padding: 1em 0 1em 0;
	text-align: center;
	width: 12em;
	position: absolute;
	bottom: 10em;
	font-weight: 100;
	cursor: pointer;
	background: transparent;
	color: #aaa;
	cursor: default;
}

#previous {
	left: 25%;
}

#next {
	right: 25%;
}

#finished {
	background-image: url('../img/bg-fuzz.png');
	background-color: #2ff62a;
}

#finished:hover {
	background-color: #5fff5f;
}

#finished:active {
	background-color: #374d3b;
}

.rightBg #horizon {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	display: block;
}

.rightBg #helperText {
	font-size: 28pt;
	color: #b7c0b6;
	margin: -100px 0 0 -30%;
	position: absolute;
	left: 50%;
	width: 60%;
	visibility: visible;
	font-weight: 100;
}

#finished {
	margin: -325px 0 0 -330px;
	position: absolute;
	left: 50%;
}







