#displayTable {
	width: 1000px;
	left: 0;
	bottom: 10em;
}

.selectBtn {
	display: block;
	width: 190px;
	height: 52px;
	position: relative;
	left: 50%;
	margin-left: -95px;
	background: url('../img/approve-btn.png');
}

.selectBtn:active {
	background: url('../img/approve-btn-pushed.png');
}

.finalizeBtn {
	position: relative;
	width: 329px;
	height: 52px;
	left: 50%;
	top: 3em;
	background: url('../img/submit.png');
	margin-left: -164.5px;
}

.finalizeBtn:active {
	background: url('../img/submit-pressed.png');
}

.bubble {
	background-color: rgba(0,0,0,0.6);
	position: relative;
	height: 5em;
	width: 80%;
	border-radius: 10px;
	left: 10%;
	right: 10%;
	display: inline-block;
}

.bubbletext {
	position: relative;
	color: #fff;
	text-shadow: #171717 2px 2px 4px;
	font-size: 14pt;
	line-height: 32pt;
	font-weight: 100;
	left: 2em;
	width: 95%;
}

.wrapper {
	position: absolute;
	top: 4em;
	width: 90%;
	height: 15em;
	left: 5%;

}
 .diviePref{
 	width: 200px;
	height: 100px;
	top: 7.7em;
 	position: absolute;
 	background: url('../img/recommends.png');
 }

.container{
	max-width: 1000px;
	left: 50%;
	top: 7em;
	bottom: 10em;
	margin-left: -500px;
	position: absolute;
}

.selectPushed {
	background: url('../img/approved.png');
	display: block;
	width: 190px;
	height: 52px;
	position: relative;
	left: 50%;
	margin-left: -95px;
}
