#displayTable {
	width: 1000px;
	left: 0;
}

.selectBtn {
	display: block;
	width: 190px;
	height: 52px;
	position: relative;
	left: 50%;
	margin-left: -95px;
	background: url('../img/approve-btn.png');
}

.selectBtn:active {
	background: url('../img/approve-btn-pushed.png');
}

.finalizeBtn {
	position: relative;
	width: 329px;
	height: 52px;
	left: 50%;
	background: url('../img/submit.png');
	margin-left: -164.5px;
}

.finalizeBtn:active {
	background: url('../img/submit-pressed.png');
}

 .diviePref{
 	width: 200px;
	height: 100px;
	top: 7.7em;
 	position: absolute;
 	background: url('../img/recommends.png');
 }

.container{
	max-width: 1000px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
}

.selectPushed {
	background: url('../img/approved.png');
	display: block;
	width: 190px;
	height: 52px;
	position: relative;
	left: 50%;
	margin-left: -95px;
}
