html {
	background: url('../img/bg-4.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.panel {
	width: 60%;
	position: absolute;
	bottom: 0;
	left: 20%;
	height: 100%;
	background-color: #63869d;
	opacity: 0.92;
	z-index: -2;
	box-shadow: 0 0 16px #222;
}

.myAuct {
	color: #f2f2f2;
	font-size: 42pt;
	font-weight: 100;
	text-align: center;
	margin-top: 50px;
	padding: 0.4em 0 0.4em 0;
	width: 100%;
	border-bottom: 2px solid #405a6b;
}

.row {
	width: 100%;
	height: 18%;
	border-bottom: 2px solid #405a6b;
	position: relative;
	display: inline-block;
	background-color: #fff;
}

.colorBox {
	background-color: #3ccb57;
	height: 100%;
	width: 12%;
	position: relative;
	display: inline-block;
}

.active {
	font-size: 14pt;
	font-weight: 100;
	text-align: center;
	color: #fff;
	padding: 48% 8% 0 8%;
}

.info {
	position: relative;
	display: inline-block;
}